@CHARSET "ISO-8859-1";

.formtable {
	width: 440px;
	padding: 10px;
	border: 1px solid blue;
}

input[type=password] {
	width: 250px;
}

input[type=text] {
	width: 250px;
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

input.delete {
	border: 1px solid red;
	color: red;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

p.error {
	margin-left: 0px;
	font-size: medium;
}

table.offers {
	padding: 20px;
	border: 1px solid gray;
	width: 700px;
}

div.header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 40px;
	background-color: blue;
}

div.toolbar {
	position: relative;
	padding-left: 40px;
	top: 10 px;
}

a.login {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}

a.createaccount {
	position: absolute;
	top: 10px;
	right: 70px;
	color: white;
}

a.admin {
	position: absolute;
	top: 10px;
	right: 70px;
	color: white;
}

a.title {
	text-align: center;
	color: white;
	font-size: 35px;
}

div.footer {
	font-size: small;
	color: gray;
}

div.body {
	position: relative;
	padding: 40px;
}

table.offers td {
	border-bottom: 1px dashed brown;
}

td.name {
	width: 100px;
	padding: 2px 10px;
	vertical-align: top;
}

td.contact {
	width: 80px;
	padding: 2px 10px;
	vertical-align: top;
}

.message {
	margin-bottom: 20px;
	border: 1px solid blue;
}

span.subject {
	font-size: large;
	font-weight: bold;
	color: navy;
	padding: 5px;
}

span.messageBody {
	display: block;
	padding: 5px;
}

span.name {
	display: block;
	font-style: italic;
	color: navy;
	font-size: medium;
	padding: 5px;
}